#canvas {
    background: lightblue;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: block;
}

.buttons {
    text-align: center;
    padding: 16px;
}

.buttons button {
    font-size: 24px;
    padding: 6px;
    border-radius: 3px;
    margin: 0 8px;
}

[v-cloak] {
    display: none;
}

h1 {
    text-align: center;
    font-family: system-ui;
    font-weight: 400;
}
